In [ ]:
# Explore and understand how to create and access the
# contents inside of a set in the Python language

In [1]:
# --> perform set creation

In [1]:
# create a set out of a list
x = set(['pencil', 'paper', 'pen',
         'pencil', 'wallet', 'pen'])

# display the contents of the set
print("Set defined with a list:")
print(x)

Set defined with a list:
{'wallet', 'paper', 'pen', 'pencil'}

In [3]:
# create a set out of a tuple
x = set(('pencil', 'paper', 'pen',
         'pencil', 'wallet', 'pen'))

# display the contents of the set
print("Set defined with a tuple:")
print(x)

Set defined with a tuple:
{'wallet', 'paper', 'pen', 'pencil'}

In [4]:
# create a set with multiple data types inside of it
x = {53, 'pencil',
     (1, 1, 2, 3, 5), 3.14159}

print("Set with multiple types:")
print(x)

Set with multiple types:
{(1, 1, 2, 3, 5), 3.14159, 53, 'pencil'}

In [5]:
# cannot create a set out of mutable elements
list = [53, 'pencil',
        (1, 1, 2, 3, 5), 3.14159]
x = {list}

<class 'TypeError'>: unhashable type: 'list'

In [6]:
# Question: why does one approach work for creating a set
# out of a list when the other approach causes a TypeError?

In [7]:
# --> perform the set operations

In [8]:
# create four sets and then compute their union
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}
print(a.union(b, c, d))
print(a | b | c | d)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [9]:
# create four sets and then compute their intersection
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}
print(a.intersection(b, c, d))
print(a & b & c & d)

{4}
{4}

In [10]:
# create four sets and then compute a difference
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}
print(a.difference(b, c))
print(a - b - c)

{1}
{1}

In [11]:
# --> create sets using a set comprehension

In [13]:
# create a set of the odd positive values
odd_positives = {n for n in range(100)
                 if n % 2 == 1}

for odd_positive in odd_positives:
    print(odd_positive)

print(odd_positives)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99}

In [14]:
# create a set of the even positive values
even_positives = {n for n in range(100)
                  if n % 2 == 0}

for even_positive in even_positives:
    print(even_positive)

print(even_positives)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98}

In [15]:
# --> create sets using a set comprehension and boolean logic

In [19]:
# create a set were the values are either odd or the specific value of 2
odd_positives_two = {n for n in range(20) if n % 2 == 1 or n == 2}

for value in odd_positives_two:
    print(value)

print(odd_positives_two)

1
2
3
5
7
9
11
13
15
17
19
{1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [23]:
# create a set where the numbers are both divisible by 2 and by 4
even_positives_by_four = {n for n in range(20) if n % 2 == 0 and n % 4 == 0}

for value in even_positives_by_four:
    print(value)

print(even_positives_by_four)

0
4
8
12
16
{0, 4, 8, 12, 16}